.inputsWrapperImperial {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
  column-gap: 2.8rem;
  row-gap: 2rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.inputGroup label {
  font-size: var(--fs-small);
}
.readOnly {
  display: flex;
  flex-direction: column;
  position: relative;
}
.textInput {
  border: 1px solid var(--borders-clr);
  padding-block: 2rem;
  padding-inline: 1.5rem 0;
  border-radius: var(--border-radius-small);
  width: 100%;
  font-size: var(--fs-h3);
  font-weight: var(--fw-600);
}
.textInput:hover {
  border: 1px solid var(--blue);
  cursor: pointer;
}
.textInput:focus {
  outline: 1px solid var(--blue);
}
.measurment {
  position: absolute;
  right: 8%;
  top: 45%;
  color: var(--blue);
  font-size: var(--fs-h3);
  font-weight: var(--fw-600);
}
.readOnly .measurment {
  right: 8%;
  top: 25%;
}
@media (max-width: 820px) {
  .calcContainer {
    position: static;
    padding-inline: 2.4rem;
    transform: translateY(-10rem);
    max-width: 100%;
    margin-inline: auto;
  }
}
